
::ng-deep .mat-form-field {
    background: white;
    padding: 9px;
    border-radius: 10px;
}

::ng-deep .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    right: 10px !important;
    top: 70% !important;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #bada55;
}

